In [4]:
import os
import pandas as pd
data_path="Hindi_English_Truncated_Corpus.csv"

In [6]:
dataset=pd.read_csv(data_path)
dataset.describe()

        source english_sentence hindi_sentence
count   127607           127605         127607
unique       3           124317          97662
top      tides       (Laughter)         (हँसी)
freq     50000              555            212

AttributeError: 'DataFrame' object has no attribute 'duplicate'